
.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.boton-volver{
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}