
.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.boton-volver{
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    margin-bottom: 15px;
}


/*RESPOMSIVE MOBILE AND TABLETS*/
@media (max-width: 768px) {
    .admin{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
    }

    h1{
        font-size: 22px;
    }
}