
.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.botonvolver{
    width: 75px;
    height: 45px;
    margin-top: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}